* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* task-2 */

.gallery {
  margin-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 24px;
}

.gallery li {
  width: calc((100% - 32px) / 4);
  overflow: hidden;
  position: relative;
}

.gallery img {
  width: 360px;
  height: 300px;
}

.gallery li:nth-child(-n + 3) {
  align-self: center;
}

.gallery li:nth-child(n + 4) {
  align-self: center;
}

/* task-4 */

.widget {
}

.change-color {
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: auto;
}

.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}

/* task-6 */

input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
  text-align: center;
}

[data-create] {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

[data-destroy] {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #ff4e4e;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

[data-create]:hover,
[data-create]:focus {
  background-color: #6c8cff;
}

[data-destroy]:hover,
[data-destroy]:focus {
  background-color: #ff7070;
}
